@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>CrunchEconUI</PageTitle>
<CascadingAuthenticationState>
@*<AuthorizeView>
    <Authorized>*@
 <div class="page">
    <div class="sidebar">
        <NavMenu />
        
    </div>

    <main>
        <div class="top-row px-4">
                 <CrunchEconUI.Components.LoginButton></CrunchEconUI.Components.LoginButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@*    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>*@

</CascadingAuthenticationState>