@using CrunchEconUI.Components
@using CrunchEconUI.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>CrunchEconUI</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="container-fluid">
            @if (UserService.UserInfo != null)
            {         <RadzenCard>
                <AvatarComponent User="UserService.UserInfo" Width="40" Height="40" Class="border border-2 m-auto" />
    
                </RadzenCard>
            }
        </div>


        <div class ="container-fluid">
            @if (UserService.UserInfo == null)
            {
                <H3>You must login to continue</H3>
                <CrunchEconUI.Components.LoginButton></CrunchEconUI.Components.LoginButton>
            }
            else
            {
                @Body
            }
        </div>
    </main>
</div>


