@using CrunchEconUI.Components
@using CrunchEconUI.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>CrunchEconUI</PageTitle>
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <main>
                    <div class="top-row px-4">
                        <AvatarComponent User="UserService.UserInfo" Width="40" Height="40" Class="border border-2 m-auto" />
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <main>
                    <article class="content px-4">
                        <H3>Please sign in to continue</H3>
                        <CrunchEconUI.Components.LoginButton></CrunchEconUI.Components.LoginButton>
                    </article>
                </main>
            </div>

        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>