@using CrunchEconUI.Components
@using CrunchEconUI.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<RadzenDialog />
<RadzenNotification />
<PageTitle>CrunchEconUI</PageTitle>
<div class="page">
    @*     <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>

        <div class="container-fluid">
            <CascadingValue Value="@UserService">
                <RadzenCard>
                    <AvatarComponent />

                </RadzenCard>


                <RadzenTabs RenderMode="TabRenderMode.Client">
                    <Tabs>
                        <RadzenTabsItem Text="Player Listings">
                            <PlayerListingsComponent></PlayerListingsComponent>
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Production Upgrades">
                            <ProductionUpgradesSection></ProductionUpgradesSection>
                        </RadzenTabsItem>

                        @*  <RadzenTabsItem Text="NPC Listings">
                        <PlayerListingsComponent></PlayerListingsComponent>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Contracts">
                        <PlayerListingsComponent></PlayerListingsComponent>
                        </RadzenTabsItem>
                        *@
                        <RadzenTabsItem Text="Ships">
                            <ShipListingsComponent></ShipListingsComponent>
                        </RadzenTabsItem>
                     
                    </Tabs>
                </RadzenTabs>

            </CascadingValue>
        </div>


    </main>
</div>


