@using CrunchEconUI.Components
@using CrunchEconUI.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<RadzenDialog />
<RadzenNotification />
<PageTitle>CrunchEconUI</PageTitle>
<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        @if (UserService.UserInfo != null)
        {
            <div class="container-fluid">
                <RadzenCard>
                    <AvatarComponent User="UserService.UserInfo" />

                </RadzenCard>


                <RadzenTabs RenderMode="TabRenderMode.Client">
                    <Tabs>
                        <RadzenTabsItem Text="Player Listings">
                            <PlayerListingsComponent User="UserService.UserInfo"></PlayerListingsComponent>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="NPC Listings">
                            <PlayerListingsComponent User="UserService.UserInfo"></PlayerListingsComponent>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Contracts">
                            <PlayerListingsComponent User="UserService.UserInfo"></PlayerListingsComponent>
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="Ships">
                            <PlayerListingsComponent User="UserService.UserInfo"></PlayerListingsComponent>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>


            </div>

        }


        @if (UserService.UserInfo == null)
        {
            <H3>You must login to continue</H3>
            <CrunchEconUI.Components.LoginButton></CrunchEconUI.Components.LoginButton>
        }
        else
        {
            @Body
        }
    </main>
</div>


