@using CrunchEconUI.Models;﻿
<div Class="rz-p-0 rz-p-md-3">

    <RadzenCard Variant="Variant.Text" Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
            <RadzenImage Path="@User.AvatarUrl" Style="width: 100px; height: 100px; border-radius: 50%;" />
            <RadzenStack Gap="0">
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Steam Name</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@User.Name</b></RadzenText>
                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Steam Id</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@User.SteamId</b></RadzenText>
                           <LogoutButton></LogoutButton>
            </RadzenStack>
        </RadzenStack>
    </RadzenCard>
</div>

@code {
    [Parameter]
    public int Width { get; set; }
    [Parameter]
    public int Height { get; set; }
    [Parameter]
    public UserInfo? User { get; set; }
    [Parameter]
    public int? AvatarImageId { get; set; }
    [Parameter]
    public string Class { get; set; }
}