@using CrunchEconModels.Models
@using CrunchEconModels.Models.Events;
@using CrunchEconUI.Models
@inject DialogService DialogService
@using CrunchEconUI.Services
@using Newtonsoft.Json;
@using Radzen
@using Radzen.Blazor

<div>
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H4">Amount</RadzenText>
        <NumericPicker @bind-Value="@Amount" Min="0" Max=@Int32.MaxValue> </NumericPicker>
        <div class="rz-p-6 rz-text-align-center">
            @if (ListedItem.IsSelling)
            {
                <RadzenButton Text="Buy" ButtonStyle="ButtonStyle.Secondary" Click=@ClickBuy />
            }
            @if (ListedItem.IsBuying && ListedItem.MaxAmountToBuy > 0)
            {
                <RadzenButton Text="Sell" ButtonStyle="ButtonStyle.Primary" Click=@ClickSell />
            }

        </div>
    </RadzenCard>
</div>

@code {
    [Parameter]
    public UserInfo? User { get; set; }
    public int Amount { get; set; }
    [Parameter]
    public ItemListing ListedItem { get; set; }
    [Inject]
    IListingsService listingService { get; set; }

    [Inject]
    public PlayerBalanceAndNotifyService BalanceService { get; set; }
    [Inject]
    public EventService eventService { get; set; }

    public async Task OpenOrder()
    {
    }

    public async Task<bool> IsSuspended()
    {
        return await listingService.IsSuspended(ListedItem.ListingId);
    }

    public async Task ClickSell()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.ListingId);
        var susp = await IsSuspended();
        if (susp)
        {
            await DialogService.Alert($"Selected item is currently suspended, try again later.", "Error");
            return;
        }
        listingService.ModifySuspended(ListedItem, true);

        var buyableAmount = ListedItem.MaxAmountToBuy;
        if (buyableAmount < Amount)
        {
            Amount = buyableAmount;
        }

        var confirmed = await DialogService.Confirm($"Total Price for {Amount:n0} of {ListedItem.ItemId} <br><p class=\"PriceGreen\">{(Amount * ListedItem.SellPricePerItem):n0} SC</ p >", "Confirmation", new ConfirmOptions() { OkButtonText = $"Sell", CancelButtonText = "Cancel" });
        if (confirmed != null && confirmed.Value)
        {
            var buy = new BuyItemEvent();
            buy.ListedItemId = ListedItem.ListingId;
            buy.SellerSteamId = ListedItem.OwnerId;
            buy.Price = Amount * ListedItem.SellPricePerItem;
            buy.Amount = Amount;
            buy.BuyerSteamId = User.SteamId;
            buy.DefinitionIdString = $"{ListedItem.ItemId}";
            buy.OriginatingPlayerSteamId = User.SteamId;
            buy.RaisedAt = DateTime.Now;
            buy.IsAdminSale = true;

            var final = new Event();

            final.EventType = EventType.SellItem;
            final.JsonEvent = JsonConvert.SerializeObject(buy);

            eventService.AddEvent(User.SteamId, final);


        }
        else
        {
            listingService.ModifySuspended(ListedItem, false);

        }
        return;
    }

    public async Task ClickBuy()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.ListingId);
        var susp = await IsSuspended();
        if (susp)
        {
            await DialogService.Alert($"Selected item is currently suspended, try again later.", "Error");
            return;
        }
        listingService.ModifySuspended(ListedItem, true);

        if (Amount > ListedItem.Amount)
        {
            Amount = ListedItem.Amount;
        }
        var balance = BalanceService.GetBalance(User.SteamId);
        if (balance < Amount * ListedItem.BuyPricePerItem)
        {
            await DialogService.Alert($"You cannot afford this! Last known balance is <p class=\"PriceRed\">{balance} SC</p>", "Error");
            return;
        }
        var confirmed = await DialogService.Confirm($"Total Price for {Amount:n0} of {ListedItem.ItemId} <br> <p class=\"PriceRed\">{(Amount * ListedItem.BuyPricePerItem):n0}SC </ p >", "Confirmation", new ConfirmOptions() { OkButtonText = $"Buy", CancelButtonText = "Cancel" });
        if (confirmed != null && confirmed.Value)
        {
            var buy = new BuyItemEvent();
            buy.ListedItemId = ListedItem.ListingId;
            buy.SellerSteamId = ListedItem.OwnerId;
            buy.Price = Amount * ListedItem.BuyPricePerItem;
            buy.Amount = Amount;
            buy.BuyerSteamId = User.SteamId;
            buy.DefinitionIdString = $"{ListedItem.ItemId}";
            buy.OriginatingPlayerSteamId = User.SteamId;
            buy.RaisedAt = DateTime.Now;
            buy.IsAdminSale = true;

            var final = new Event();

            final.EventType = EventType.BuyItem;
            final.JsonEvent = JsonConvert.SerializeObject(buy);

            eventService.AddEvent(User.SteamId, final);
        }
        else
        {
            listingService.ModifySuspended(ListedItem, false);

        }


        return;
    }

    protected override async Task OnInitializedAsync()
    {

    }
}
