@using CrunchEconModels.Models
@using CrunchEconModels.Models.Events;
@using CrunchEconUI.Models
@inject DialogService DialogService
@using CrunchEconUI.Services
@using Newtonsoft.Json;
@using Radzen
@using Radzen.Blazor
@using System.Text;

<div>
    @*     <RadzenCard> *@
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H4">Amount</RadzenText>
    <NumericPicker @bind-Value="@Amount" Min="1" Max=@Int32.MaxValue> </NumericPicker>
    <div class="rz-p-6 rz-text-align-center">
        <RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="Radzen.FlexWrap.Wrap">

            <RadzenButton Text="Buy" ButtonStyle="ButtonStyle.Secondary" Click=@ClickBuy Disabled=@(!ListedItem.IsSelling || ListedItem.Amount <= 0) />

            <RadzenButton Text="Sell" ButtonStyle="ButtonStyle.Primary" Click=@ClickSell Disabled=@(!ListedItem.IsBuying || ListedItem.MaxAmountToBuy <= 0) />

            <RadzenButton Text="Withdraw" ButtonStyle="ButtonStyle.Success" Icon="account_balance_wallet" Click="@ClickWithdraw" Disabled=@((ulong)ListedItem.OwnerSteam != User.UserInfo?.SteamId)></RadzenButton>
            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@ClickDelete" Disabled=@((ulong)ListedItem.OwnerSteam != User.UserInfo?.SteamId)></RadzenButton>
            <HasAccessComponent AccessLevel="5">
                <RadzenButton Text="Admin Delete" ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@ClickDeleteAdmin"></RadzenButton>
            </HasAccessComponent>
        </RadzenStack>
    </div>
    @*     </RadzenCard> *@
</div>

@code {
    [CascadingParameter]
    public AuthenticatedUserService User { get; set; }
    public int Amount { get; set; }
    [Parameter]
    public ItemListing ListedItem { get; set; }
    [Inject]
    IListingService listingService { get; set; }

    [Inject]
    public PlayerBalanceAndNotifyService BalanceService { get; set; }
    [Inject]
    public EventService eventService { get; set; }

    public async Task OpenOrder()
    {
    }

    public async Task<bool> IsSuspended()
    {
        return await listingService.IsSuspended(ListedItem.Id);
    }

    public async Task ClickWithdraw()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
        var susp = await IsSuspended();
        if (susp || ListedItem.Deleted)
        {
            await DialogService.Alert($"Selected item is currently suspended, try again later.", "Error");
            return;
        }
        await listingService.ModifySuspended(ListedItem, true);

        if (Amount > ListedItem.Amount)
        {
            Amount = ListedItem.Amount;
        }

        var confirmed = await DialogService.Confirm($"Withdrawing {Amount:n0} of {ListedItem.ItemId.Replace("MyObjectBuilder_", "")}", "Confirmation", new ConfirmOptions() { OkButtonText = $"Withdraw", CancelButtonText = "Cancel" });
        if (confirmed != null && confirmed.Value)
        {
            var buy = new BuyItemEvent();
            buy.ListedItemId = ListedItem.Id;
            buy.SellerSteamId = (ulong)ListedItem.OwnerSteam;
            buy.Price = 0;
            buy.Amount = Amount;
            buy.BuyerSteamId = User.UserInfo.SteamId;
            buy.DefinitionIdString = $"{ListedItem.ItemId}";
            buy.OriginatingPlayerSteamId = User.UserInfo.SteamId;
            buy.RaisedAt = DateTime.Now;
            buy.IsAdminSale = true;

            var final = new Event();

            final.EventType = EventType.BuyItem;
            final.JsonEvent = JsonConvert.SerializeObject(buy);

            ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
            ListedItem.EventId = final.Id;
            ListedItem.BuyerId = buy.BuyerSteamId;
            await listingService.StoreItem(ListedItem);

            await eventService.AddEvent(User.UserInfo.SteamId, final);
        }
        else
        {
            await listingService.ModifySuspended(ListedItem, false);

        }
    }
    public async Task ClickDeleteAdmin()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
        await listingService.ModifySuspended(ListedItem, true);
        await listingService.DeleteListing(ListedItem);
    }
    public async Task ClickDelete()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
        var susp = await IsSuspended();
        if (susp || ListedItem.Deleted)
        {
            await DialogService.Alert($"Selected item is currently suspended, try again later.", "Error");
            return;
        }
        await listingService.ModifySuspended(ListedItem, true);
        var refundMessage = new StringBuilder();
        if (ListedItem.IsBuying && ListedItem.MaxAmountToBuy > 0)
        {
            refundMessage.AppendLine($"Total Refund for listing {ListedItem.MaxAmountToBuy:n0} of {ListedItem.ItemId.Replace("MyObjectBuilder_", "")} <br><p class=\"PriceGreen\">{(ListedItem.MaxAmountToBuy * ListedItem.SellPricePerItem):n0} SC</p> <br>");
        }
        if (ListedItem.IsSelling && ListedItem.Amount > 0)
        {
            refundMessage.AppendLine($"Item Refund for listing {ListedItem.Amount:n0} of {ListedItem.ItemId.Replace("MyObjectBuilder_", "")} <br>");
        }
        var confirmed = await DialogService.Confirm(refundMessage.ToString(), "Confirmation", new ConfirmOptions() { OkButtonText = $"Delete Listing", CancelButtonText = "Cancel" });
        if (confirmed != null && confirmed.Value)
        {
            var final = new Event();
            var del = new DeleteListingEvent();
            del.Listing = ListedItem;
            del.OriginatingPlayerSteamId = (ulong)ListedItem.OwnerSteam;
            final.EventType = EventType.DeleteListing;
            final.JsonEvent = JsonConvert.SerializeObject(del);

            ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
            ListedItem.EventId = final.Id;
            ListedItem.BuyerId = del.OriginatingPlayerSteamId;
            await listingService.StoreItem(ListedItem);

            eventService.AddEvent(User.UserInfo.SteamId, final);
        }
        else
        {
            await listingService.ModifySuspended(ListedItem, false);
        }
    }

    public async Task ClickSell()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
        var susp = await IsSuspended();
        if (susp || ListedItem.Deleted)
        {
            await DialogService.Alert($"Selected item is currently suspended, try again later.", "Error");
            return;
        }
        await listingService.ModifySuspended(ListedItem, true);

        var buyableAmount = ListedItem.MaxAmountToBuy;
        if (buyableAmount < Amount)
        {
            Amount = buyableAmount;
        }

        var confirmed = await DialogService.Confirm($"Total Price for {Amount:n0} of {ListedItem.ItemId.Replace("MyObjectBuilder_", "")} <br><p class=\"PriceGreen\">{(Amount * ListedItem.SellPricePerItem):n0} SC</p>", "Confirmation", new ConfirmOptions() { OkButtonText = $"Sell", CancelButtonText = "Cancel" });
        if (confirmed != null && confirmed.Value)
        {
            var buy = new BuyItemEvent();
            buy.ListedItemId = ListedItem.Id;
            buy.SellerSteamId = (ulong)ListedItem.OwnerSteam;
            buy.Price = Amount * ListedItem.SellPricePerItem;
            buy.Amount = Amount;
            buy.BuyerSteamId = User.UserInfo.SteamId;
            buy.DefinitionIdString = $"{ListedItem.ItemId}";
            buy.OriginatingPlayerSteamId = User.UserInfo.SteamId;
            buy.RaisedAt = DateTime.Now;
            buy.IsAdminSale = true;

            var final = new Event();

            final.EventType = EventType.SellItem;
            final.JsonEvent = JsonConvert.SerializeObject(buy);
            ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
            ListedItem.EventId = final.Id;
            ListedItem.BuyerId = buy.OriginatingPlayerSteamId;
            await listingService.StoreItem(ListedItem);

            eventService.AddEvent(User.UserInfo.SteamId, final);


        }
        else
        {
            await listingService.ModifySuspended(ListedItem, false);

        }
        return;
    }

    public async Task ClickBuy()
    {
        ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
        var susp = await IsSuspended();
        if (susp || ListedItem.Deleted)
        {
            await DialogService.Alert($"Selected item is currently suspended, try again later.", "Error");
            return;
        }
        await listingService.ModifySuspended(ListedItem, true);

        if (Amount > ListedItem.Amount)
        {
            Amount = ListedItem.Amount;
        }
        var balance = BalanceService.GetBalance(User.UserInfo.SteamId);
        if (balance < Amount * ListedItem.BuyPricePerItem)
        {
            await DialogService.Alert($"You cannot afford this! Last known balance is <p class=\"PriceRed\">{balance} SC</p>", "Error");
            await listingService.ModifySuspended(ListedItem, false);
            return;
        }
        var confirmed = await DialogService.Confirm($"Total Price for {Amount:n0} of {ListedItem.ItemId.Replace("MyObjectBuilder_", "")} <br> <p class=\"PriceRed\">{(Amount * ListedItem.BuyPricePerItem):n0}SC </p>", "Confirmation", new ConfirmOptions() { OkButtonText = $"Buy", CancelButtonText = "Cancel" });
        if (confirmed != null && confirmed.Value)
        {
            var buy = new BuyItemEvent();
            buy.ListedItemId = ListedItem.Id;
            buy.SellerSteamId = (ulong)ListedItem.OwnerSteam;
            buy.Price = Amount * ListedItem.BuyPricePerItem;
            buy.Amount = Amount;
            buy.BuyerSteamId = User.UserInfo.SteamId;
            buy.DefinitionIdString = $"{ListedItem.ItemId}";
            buy.OriginatingPlayerSteamId = User.UserInfo.SteamId;
            buy.RaisedAt = DateTime.Now;
            buy.IsAdminSale = true;

            var final = new Event();
            ListedItem = await listingService.GetUpdatedItem(ListedItem.Id);
            ListedItem.EventId = final.Id;
            ListedItem.BuyerId = buy.OriginatingPlayerSteamId;
            await listingService.StoreItem(ListedItem);

            final.EventType = EventType.BuyItem;
            final.JsonEvent = JsonConvert.SerializeObject(buy);

            eventService.AddEvent(User.UserInfo.SteamId, final);
        }
        else
        {
            await listingService.ModifySuspended(ListedItem, false);

        }


        return;
    }

    protected override async Task OnInitializedAsync()
    {

    }
}
